*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100vh;
}

section{
    width: 100%;
    height: 100vh;
}


/* ---------------- Template - 1 -------------------------------------  */

.wrapper{
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #ff8c6b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Template-1 input{
    font-family: "Roboto", sans-serif;
}

.container{
    position: relative;
    width: 100%;
    max-width: 70vw;
    height: 80vh;
    border-radius: 3vw;
    background-color: #fff;
    box-shadow: 0px 60px 40px -30px #00000036;
}

.inner-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
}

.left-container{
    position: absolute;
    top: 0;
    left:0;
    width: 45%;
    height: 100%;
    padding: 4vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

form{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

form.sign-up-form{
    opacity: 0;
    pointer-events: none;
}

.sign-in-form{
    max-width: 300px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.logo{
    display: flex;
    gap: 0.5vw;
}

.logo img{
    height: 2vw;
}

.logo h3{
    font-size: 1.2vw;
    font-weight: 900;
}

.heading{
    width: 100%;
    height: 10vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.heading h1{
    font-size: 3vw;
}
.heading p{
    font-size: 1vw;
    font-weight: 400;
    color: #bababa;
}

.toggle{
    color: #000;
    text-decoration: none;
    transition: 0.3s;
    font-weight: 600;
}

.toggle:hover{
    color: #8371fd;
}

.input-wrap{
    position: relative;
    margin-bottom: 1vw;
    height: 37px;
    margin-bottom: 2rem;
    color: #bababa;
}

.input-feild{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    background-color: none;
    font-size: 1vw;
    border-bottom: 2px solid #bababa;
    transition: 0.4s;
    
}
.input-lable{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.4s;
}

.input-feild.active{
    border-bottom-color:#000;
}
  
.input-feild.active + .input-lable{
    font-size: 0.9vw;
    top:-2px;
}

.sign-in-btn{
    width: 100%;
    height: 3vw;
    color: #fff;
    background-color: #000;
    outline: none;
    border: none;
    border-radius: 1vw;
    margin-bottom: 2vw;
    transition: 0.2s;
}

.sign-in-btn:hover{
    background-color: #8371fd;
}

.forgot-pass-txt{
    font-size: 1vw;
    color: #bababa;
    line-height: 1.4vw;
}


/* -------------   SIGN UP------------------------ */

.sign-up-form{
    max-width: 300px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sign-up-btn{
    width: 100%;
    height: 3vw;
    color: #fff;
    background-color: #000;
    outline: none;
    border: none;
    border-radius: 1vw;
    margin-bottom: 2vw;
    transition: 0.2s;
}

.sign-up-btn:hover{
    background-color: #8371fd;
}

.forgot-pass-txt2{
    font-size: 0.8vw;
    color: #bababa;
    line-height: 1vw;
}

.toggle2{
    color: #bababa;
    transition: 0.3s;
    font-weight: 500;
}

.toggle2:hover{
    color: #8371fd;
}


.right-container{
    position: absolute;
    top: 0;
    left: 45%;
    width: 55%;
    height: 100%;
    background-color:#ffe0d2;
    border-radius: 2vw;
}
